<div class="container-xxl p-0 mt-5">
  <h1 class="text-center" style="padding-top: 4rem;">Entre ton commentaire</h1>

  <% flash.each do |type, msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "partials/comment_form" %>
</div>