<h1>PAGE DU GOSSIP </h1>

<p>Auteur : </p>
<%= link_to "#{@gossip.user.first_name}", user_path(@gossip.user.id) %>



<p>Le titre du Gossip : </p>
<p><%= @gossip.title %></p>
<p>Le contenu du Gossip : </p>
<p><%= @gossip.content %></p>
<p>Date de création :</p>
<p><%= @gossip.created_at %></p>
