<div class="container-xxl p-0 mt-5 mx-5">
  <h1 class="text-center" style="padding-top: 4rem;">Bienvenue <%= @user.first_name  %> !!</h1>
  <p> Ici c'est notre super site de potins, il est chouette, non ?</p>
</div>

