<div class="container-xxl p-0 mt-5">
  <%= form_with(model: [@gossip, @comment], local: true) do |form| %>

      <%= form.label :content, "Commentaire :" %>
      <%= form.text_area :content %>

      <%= form.submit "Commenter" %>

  <% end %>
</div>