<h1>Bienvenue dans Gossips</h1>

<h3>Liste des Gossips</h3>
<% @gossips.each_with_index do |gossip, i| %>
  <p>
    <%= gossip.user.first_name %><br/>
    <%= gossip.title %><br/>
    <%= link_to "Accéder au Gossip", gossip_path(gossip.id) %>
  </p>
<% end %>